langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-openai==0.2.0
neo4j==5.24.0
numpy~=1.26.4
openai==1.45.0
openpyxl==3.1.5
pydantic-settings==2.5.2
scikit-learn==1.5.2
pypdf==4.3.1
pytest==8.2.2
pydantic~=2.9.2
pandas==2.2.3
hypothesis==6.122.1
psycopg2==2.9.10
antlr4-python3-runtime==4.11.1
apache-age-python==0.0.7
httpx==0.27.2